.site-body {
	text-align: center;
}
.muraad-brand-logo {
	height: 150px;
}
.muraad-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  background-attachment: fixed;
  -webkit-transform: translateZ(0);
  overflow: hidden;
  padding: 4px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 10;
  border-top: 5px solid #0b5d4e;
}
h5 {
  padding-top: 10px;
}
.info-body {
	display: inline-block;
	max-width: 340px;
}
